body{
	background-color:#2980b9 !important;  
	color:black !important;
	font-family:Arial, sans-serif; 
}
}
h1 {
	color:black ;
	}

ul li {
	text-align: center ;
	list-style-position:inside
}

.copyright{
	font-style: italic;
}

