body{
	background-color:#4ECDC4 !important;  
	color:black !important;
	
}
}
h1 {
	color:black ;
	}

ul li {
	text-align: center ;
	list-style:none;
	font-family:Arial, sans-serif
}


ul li::first-letter {
  font-size: 150%;
}
.copyright{
	font-family:Arial, sans-serif

}
p{
	font-family:Arial, sans-serif 

}
a {
	color: blue;
}