body {
	background-color:#3A539B !important;  
	
}
#wrap{
width: 100% !important;
margin:auto; 
position: absolute;

height: 100%;
}
#nav {
	width: 20%;
	background-color:#89C4F4 !important;
	height: 100%;
	margin-top: -20px;
}
#content{
width: 80%;
background-color:#5C97BF !important;
margin-left: 270px;
padding: 10px;
text-align: center; 
margin-top:-650px;
}
ul li {
	list-style:none;
}